@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
a:link {
     color: #E0925A;
}
a:visited {
     color: #EDB88B;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
.homePage {
	background: #D9CAC1;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: ##DACBBC;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #735E45;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #F2A649;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #A69177;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
